# User-specific files

*.suo

*.user
*.sln.docstates
*.csproj.DotSettings

.vs/

# JetBrains Rider
.idea/

# Build results

debug/
release/
bin/
obj/
*.Bin/

*.vspscc

*.vssscc
*.cache
*.log
*.publishproj


*.dll

*.pdb

.vs/config/applicationhost.config

*.tmp
vwd.webinfo

#node modules
node_modules

# NuGet
!packages.config
!repositories.config
/packages/*


# Customizations
BuildLog.txt
backupWeb.config
*.zip
*.orig

# transactions store
*.bin